<section class="section-about" id="about">
    <h2 class="about-hero">About this game</h2>
    <ul class="about-list">
        <li>
            <div>
                <img src="/img/about/fistElmob.png" alt="">
            </div>
            <p>Spark Art is developed by Trailway Studios, a passionate team dedicated to bringing innovative and
                engaging digital art experiences to mobile users
            </p>

        </li>
        <li>
            <div>
                <img src="/img/about/secondElmob.png" alt="">
            </div>
            <p>With an intuitive interface, stunning visual effects, and powerful creative tools, Spark Art allows users
                of all skill levels to enjoy the joy of digital painting
            </p>

        </li>
        <li>
            <div>
                <img src="/img/about/thirdElmob.png" alt="">
            </div>
            <p>Whether you want to create intricate masterpieces, glowing sketches, or fun doodles, Spark Art makes it
                effortless and enjoyable. Ignite your imagination and start painting today!
            </p>

        </li>
    </ul>
</section>