<section class="section-about" id="about">
  <h2 class="about-hero">About this game</h2>
  <ul class="about-list">
    <li class="about-list-li-first">
      <div class="about-img-first">
        <picture>
          <source srcset="/img/about/fistElmob2x.png" media="(min-width: 1024px)" />
          <source srcset="/img/about/fistElmob.png" media="(max-width: 1023px)" />
          <img src="/img/about/fistElmob.png" alt="Creating website design with interface elements" />
        </picture>
      </div>
      <p>
        <span class="spark">Spark Art</span> is developed by Trailway Studios, a passionate team dedicated
        to bringing innovative and engaging digital art experiences to mobile
        users
      </p>
    </li>
    <li class="about-list-li-sec0nd">
      <div class="about-img-second">
        <picture>
          <source srcset="/img/about/secondElmob2x.png" media="(min-width: 1024px)" />
          <source srcset="/img/about/secondElmob.png" media="(max-width: 1023px)" />
          <img src="/img/about/secondElmob.png" alt="cup with three brushes" />
        </picture>

      </div>
      <p>
        With an intuitive interface, stunning visual effects, and powerful
        creative tools, Spark Art allows users of all skill levels to enjoy the
        joy of digital painting
      </p>
    </li>
    <li class="about-list-li-third">
      <div class="about-img-third">
        <picture>
          <source srcset="/img/about/thirdElmob2x.png" media="(min-width: 1024px)" />
          <source srcset="/img/about/thirdElmob.png" media="(max-width: 1023px)" />
          <img src="/img/about/thirdElmob.png" alt="pensive man admiring a painting in an art gallery" />
        </picture>

      </div>
      <p>
        Whether you want to create intricate masterpieces, glowing sketches, or
        fun doodles, Spark Art makes it effortless and enjoyable. Ignite your
        imagination and start painting today!
      </p>
    </li>
  </ul>
</section>