<section class="section-benefits" id="benefits">
  <h2 class="benefits-hero">Benefits</h2>
  <ul class="benefits-list">
    <li class="grid-item">
      <div class="benefits-img-first">
        <picture>
          <source srcset="/img/benefits/1Teamleaderproposinggreatidea2x.png" media="(min-width: 1024px)" />
          <source srcset="../img/benefits/1Team leader proposing great idea.png" media="(max-width: 1023px)" />
          <img src="/img/benefits/1Team_leader_idea@1x.png" alt="Team leader proposing a great idea" />
        </picture>
        <h4 class="benefits-item-hero">Endless Creativity</h4>
      </div>
      <p class="benefits-item-paragraph">
        A wide selection of tools, brushes, and effects to bring your ideas to life
      </p>
    </li>

    <li class="grid-item">
      <div class="benefits-img-second">
        <picture>
          <source srcset="/img/benefits/2Woman meditating in lotus pose2x.png" media="(min-width: 1024px)" />
          <source srcset="/img/benefits/2Woman meditating in lotus pose.png" media="(max-width: 1023px)" />
          <img src="/img/benefits/2Woman meditating in lotus pose.png" alt="Woman meditating in lotus pose" />
        </picture>
        <h4 class="benefits-item-hero">Relaxing & Engaging</h4>
      </div>
      <p class="benefits-item-paragraph">
        Enjoy a stress-free experience, perfect for unwinding after a long day
      </p>
    </li>
    <li class="grid-item">
      <div class="benefits-img-third">
        <picture>
          <source srcset="/img/benefits/3woman with hands up2x.png" media="(min-width: 1024px)" />
          <source srcset="/img/benefits/3woman with hands up.png" media="(max-width: 1023px)" />
          <img src="/img/benefits/3woman with hands up.png" alt="Woman with hands up" />
        </picture>
        <h4 class="benefits-item-hero">Dynamic Effects</h4>
      </div>
      <p class="benefits-item-paragraph">
        Create mesmerizing digital paintings with animated effects and glowing
        lines
      </p>
    </li>
    <li class="grid-item">
      <div class="benefits-img-forth">
        <picture>
          <source srcset="/img/benefits/4Effective social media marketing strategies2x.png"
            media="(min-width: 1024px)" />
          <source srcset="/img/benefits/4Effective social media marketing strategies.png" media="(max-width: 1023px)" />
          <img src="/img/benefits/4Effective social media marketing strategies.png"
            alt="Effective social media marketing strategies" />
        </picture>

        <h4 class="benefits-item-hero">Share Your Art</h4>
      </div>

      <p class="benefits-item-paragraph">
        Easily save and share your stunning artwork with friends and the art
        community
      </p>
    </li>
    <li class="grid-item">
      <div class="benefits-img-fifth">
        <picture>
          <source srcset="/img/benefits/5Loading the next page2x.png" media="(min-width: 1024px)" />
          <source srcset="/img/benefits/5Loading the next page.png" media="(max-width: 1023px)" />
          <img src="/img/benefits/5Loading the next page.png" alt="Loading the next page" />
        </picture>

        <h4 class="benefits-item-hero">Regular Updates</h4>
      </div>

      <p class="benefits-item-paragraph">
        New tools, brushes, and features added regularly to enhance your
        creative journey
      </p>
    </li>
  </ul>
</section>