<section class="section-footer" id="footer" class="footer">
  <div class="footer__wrap">
    <div class="footer__logo">
      <a href="">
        <picture class="footer__picture">
          <source
            srcset="img/logo_2x.png"
            media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
          />
          <img
            src="img/logo.png"
            alt="Spark Art Logo"
            class="footer__image"
            width="100"
            height="100"
          />
          <span class="footer__spark">Spark Art</span>
        </picture>
      </a>
    </div>
    <ul class="footer__links">
      <li><a href="privacy-policy-page.html">Privacy Policy</a></li>
      <li><a href="terms-conditions-page.html">Terms & Conditions</a></li>
      <li><a href="cookies-policy-page.html">Cookies policy</a></li>
    </ul>
    <p class="footer__copyright">
      All Rights Reserved sparktrailway.com | 2025
    </p>
  </div>
</section>
