<section class="section-footer" id="footer" class="footer">
  <div class="footer__wrap">
    <div class="footer__logo">
      <picture class="footer__picture">
        <source
          srcset="img/logo_2x.png"
          media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
        />
        <a href="./index.html">
          <img src="img/logo.png" alt="Spark Art Logo" class="footer__image" />
        </a>
      </picture>
      <a class="footer__spark" href="./index.html">Spark Art</a>
    </div>

    <ul class="footer__links">
      <li>
        <a href="privacy-policy-page.html"
          >Privacy <span class="footer__text-line">Policy</span></a
        >
      </li>
      <li>
        <a href="terms-conditions-page.html"
          >Terms & <span class="footer__text-line">Conditions</span></a
        >
      </li>
      <li><a href="cookies-policy-page.html">Cookies Policy</a></li>
    </ul>

    <p class="footer__copyright">
      All Rights Reserved sparktrailway.com | 2025
    </p>
  </div>
</section>
