<header class="header">
  <a class="logo" href="/"><img src="/img/logo.png" width="61" height="60" alt="logo"></a>
  <nav class="nav">
    <ul class="header-ul">
      <li><a href="#home">Home</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#about">About the Game</a></li>
      <li><a href="#how-to-use">How to Use</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#gallery">Gallery</a></li>
    </ul>
    <button type="button" class="mob-menu" aria-label="close-menu">
      <svg class="burger-svg" width="28" height="28">
        <use href="/src/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </nav>
  <div class="mob-menu">
    <button type="button" class="mob-menu" aria-label="close-menu">
      <svg class="burger-svg" width="28" height="28">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="header-ul">
        <li><a href="#home">Home</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#about">About the Game</a></li>
        <li><a href="#how-to-use">How to Use</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</header>