<header class="header">
  <a class="logo" href="./index.html"
    ><img src="/img/logo.png" width="61" height="60" alt="logo"
  /></a>
  <nav class="nav">
    <ul class="header-ul">
      <li><a href="#home">Home</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#about">About this Game</a></li>
      <li><a href="#how-to-use">How to Use</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#gallery">Gallery</a></li>
    </ul>
    <button type="button" class="mob-menu-burg" aria-label="close-menu">
      <img
        src="/img/burger.png"
        class="burger-svg"
        width="28"
        height="28"
        alt=""
      />
    </button>
  </nav>
  <div class="mob-menu">
    <button type="button" class="mob-menu-cloth" aria-label="close-menu">
      <img src="/img/x.png" class="burger-svg" width="28" height="28" alt="" />
    </button>
    <nav class="nav-mob">
      <ul class="header-ul-mob">
        <li><a href="#home">Home</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#about">About this Game</a></li>
        <li><a href="#how-to-use">How to Use</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</header>
