<section class="section-home" id="home">
  <h1 class="hero">
    <span class="hero-span">Spark Art - </span><br />
    Ignite Your<br />
    Creativity!
  </h1>
  <a
    class="google-play"
    href="https://play.google.com/store/apps/details?id=com.bigduckgames.sparkart&hl=en&gl=us"
    target="_blank"
  >
    <img src="/img/logos_google-play-icon.png" alt="" />
    <p class="parag">Get it on Google Play</p>
  </a>
</section>
<div class="block-paragraph">
  <p>
    Unleash your inner artist with <span class="block-span">Spark Art!</span
    ><br />
    Dive into a world of creativity where colors come to life and every touch
    creates a masterpiece. Whether you're a seasoned artist or just looking for
    a relaxing way to express yourself, Spark Art offers endless possibilities
  </p>
  <p>
    Explore mesmerizing patterns, dynamic brushes, and a vast color palette to
    craft stunning digital artwork. Let your imagination run wild and turn every
    canvas into a spark of inspiration!
  </p>
</div>
<a
  class="google-play-phone"
  href="https://play.google.com/store/apps/details?id=com.bigduckgames.sparkart&hl=en&gl=us"
  target="_blank"
>
  <img src="/img/logos_google-play-icon.png" alt="" />
  <p class="parag"><span>Get it on</span> Google Play</p>
</a>
<div class="cookies">
  <div class="cookies-text">
    <img src="/img/cookie chocolate.png" alt="" />
    <p>
      We use cookies to improve your experience on our website By browsing this
      website, you agree to our use of cookies
    </p>
  </div>
  <div class="cookies-but">
    <button class="cookies-dec" type="button">DECLINE COOKIES</button>
    <button class="cookies-acc" type="button">ACCEPT COOKIES</button>
  </div>
</div>
<button class="scroll-to-top hidden">⬆</button>
