<section class="section-how-to-use" id="how-to-use">
    <h3 class="how-to-use-hero">How to use?</h3>
    <ol class="how-list">
        <li>
            <p><span>Choose Your Canvas</span>
                – Select a blank canvas
                or use templates to get started</p>
        </li>
        <li>
            <p>Pick Your Tools – Explore different brushes,
                glowing pens, and vibrant colors</p>
        </li>
        <li>
            <p>Experiment with Effects –
                Use special filters and animations
                to add magic to your artd</p>
        </li>
        <li>
            <p>Save & Share – Showcase your creations by sharing them with friends and online communities</p>
        </li>
        <li>
            <p>Explore & Improve – Learn new techniques and get inspired
                by other artists</p>
        </li>

    </ol>
</section>