<section class="section-how-to-use" id="how-to-use">
  <h3 class="how-to-use-hero">How to use?</h3>
  <ol class="how-list">
    <li>
      <p>
        <span class="first-span">Choose Your Canvas</span> – Select a blank
        canvas or use templates to get started
      </p>
    </li>
    <li>
      <p>
        <span class="sec-span">Pick Your Tools </span>– Explore different
        brushes, glowing pens, and vibrant colors
      </p>
    </li>
    <li>
      <p>
        <span class="third-span">Experiment with Effects</span> – Use special
        filters and animations to add magic to your artd
      </p>
    </li>
    <li>
      <p>
        <span class="forth-span">Save & Share</span> – Showcase your creations
        by sharing them with friends and online communities
      </p>
    </li>
    <li>
      <p>
        <span class="fifth-span">Explore & Improve </span>– Learn new techniques
        and get inspired by other artists
      </p>
    </li>
  </ol>
</section>
