.section-about {
  scroll-margin-top: 100px;
  margin-top: 20px;
  width: 320px;
  height: 974px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: image-set(
    url('../img/about/BGmob.png') 1x,
    url('../img/about/BGmob2x.png') 2x
  );
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  @include media(desktop) {
    background-image: image-set(
      url('../img/about/BGabout.png') 1x,
      url('../img/about/BG2x.png') 2x
    );
    background-size: 100% 100%;
    margin-top: 30px;
    width: 1200px;
    height: 1018px;
  }
}
.about-hero {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #ffec42;
  text-align: center;
  margin-top: 40px;
  @include media(desktop) {
    margin-top: 150px;
    font-size: 64px;
    line-height: 112%;
  }
}
.about-list {
  margin-top: 24px;
  display: flex;
  gap: 20px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  @include media(desktop) {
    width: 1000px;
  }
}
.about-list li {
  height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include media(desktop) {
    flex-direction: row-reverse;
    height: 212px;
  }
}
.about-list p {
  height: 162px;
  font-size: 14px;
  line-height: 1.5;
  @include media(desktop) {
    font-size: 24px;
    line-height: 150%;
  }
}
.about-img-first {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include media(desktop) {
    width: 233px;
    height: 206px;
  }
}
.about-img-second {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include media(desktop) {
    width: 233px;
    height: 206px;
  }
}
.about-img-third {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include media(desktop) {
    width: 233px;
    height: 206px;
  }
}
.about-list-li-first {
  background-image: image-set(
    url('/img/about/bgdeskfirst.png') 1x,
    url('/img/about/bgdeskfirst2x.png') 2x
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  @include media(desktop) {
    width: 1000px;
    background-position: right;
    background-size: contain;
  }
}
.about-list-li-sec0nd {
  background-image: image-set(
    url('/img/about/bgdesksec0nd.png') 1x,
    url('/img/about/bgdesksec0nd2x.png') 2x
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @include media(desktop) {
    background-position: right;
    background-size: contain;
  }
}
.about-list-li-third {
  background-image: image-set(
    url('/img/about/bgdeskthird.png') 1x,
    url('/img/about/bgdeskthird2x.png') 2x
  );

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @include media(desktop) {
    background-position: right;
    background-size: contain;
  }
}
.about-list img {
  width: 150px;
  height: 150px;
}
.about-list p {
  @include media(desktop) {
    display: block;
    align-items: center;
    width: 744px;
    height: 110px;
  }
}
.spark {
  font-family: var(--second-family);
  font-size: 14px;
  line-height: 1.5;
  color: #ffec42;
  @include media(desktop) {
    font-size: 24px;
  }
}
