.header {
  display: flex;
  gap: 12px;
  position: fixed;
  top: 12px;
  left: 50;
  z-index: 1010;
  @include media(desktop) {
    gap: 24px;
    top: 20px;
  }
}
.logo {
  border: 1px solid #fff;
  border-radius: 12px;
  width: 61px;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
  }
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.header-ul {
  display: none;
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 12px;
  padding-right: 12px;
  width: 208px;
  height: 62px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(245, 225, 51, 0.3);
  @include media(desktop) {
    width: 915px;
    height: 60px;
    justify-content: center;
  }
}

.mob-menu {
  display: block;
  border: none;
  background-color: none;
  @include media(desktop) {
    display: none;
  }
}

.header-ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1c1c;
  position: relative;
  padding-bottom: 10px;
}

.header-ul a:hover {
  font-weight: 600;
  box-shadow: inset 0px -4px 0px #ffec42;
}
.mob-menu {
  display: none;
}

// mob-menu
.mob-menu-burg {
  display: block;
  background-color: inherit;
  border: none;
  @include media(desktop) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100vh;
  background-color: #1c1c1c;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  background-image: image-set(
      url('/img/mobMenu/salute1x.png') 1x,
      url('/img/mobMenu/salute2x.png') 2x
    ),
    image-set(
      url('/img/mobMenu/hart1x.png') 1x,
      url('/img/mobMenu/hart2x.png') 2x
    );
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: contain, contain;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: right 0.4s ease-in-out;
  z-index: 1000;

  &.active {
    right: calc(50% - 160px);
  }

  @include media(desktop) {
    display: none;
  }

  .mob-menu-cloth {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .header-ul-mob {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    li {
      text-align: center;

      a {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #fff;
        transition: 0.3s;

        &:hover {
          color: #ffd700;
        }
      }
    }
  }
}
.nav-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 158px;
}
.mob-menu-cloth {
  margin-top: 32px;
}
