.section-home {
  width: 320px;
  height: 384px;
  background-image: image-set(
    url('/img/iPhone15Promob.jpg') 1x,
    url('/img/iPhone15Promob2x.jpg') 2x
  );
  background-repeat: no-repeat;
  margin-top: 40px;
  @include media(desktop) {
    margin-top: 0;
    width: 1200px;
    height: 989px;
    background-image: image-set(
      url('/img/homeiPhone15Pro.jpg') 1x,
      url('/img/homeiPhone15Pro2х.jpg') 2x
    );
  }
}
.google-play {
  display: none;
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    width: 403px;
    height: 80px;
    background-color: #efefef;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    gap: 24px;
    margin-top: 150px;
    margin-left: 100px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #7a8cdc;
    }

    &:active {
      background-color: #402a86;
    }
  }
}

.parag {
  display: block;

  // @include media(desktop) {

  // }
}
.google-play img {
  width: 24px;
  height: 24px;
  @include media(desktop) {
    width: 40px;
    height: 44px;
  }
}
.hero {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  padding-top: 58px;
  margin-left: 20px;
  @include media(desktop) {
    width: 733px;

    font-weight: 400;
    font-size: 64px;
    line-height: 1.125;
    padding-top: 140px;
    margin-left: 100px;
  }
}
.hero-span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #ffec42;
  @include media(desktop) {
    font-size: 64px;
    line-height: 1.125;
  }
}

.block-paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 280px;
  height: 372px;
  margin-top: 15px;
  margin: 0 auto;
  @include media(desktop) {
    margin-left: 100px;
    width: 744px;
    height: 330px;
    margin-top: 60px;
  }
}
.block-paragraph p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  @include media(desktop) {
    font-size: 24px;
    line-height: 1.5;
  }
}
.block-span {
  font-family: var(--second-family);
  color: #ffec42;
  @include media(desktop) {
    font-size: 24px;
    line-height: 1.5;
  }
}

.google-play-phone {
  border-radius: 12px;
  padding: 10px 46px;
  width: 281px;
  height: 44px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #7a8cdc;
  }

  &:active {
    background-color: #402a86;
  }
  @include media(desktop) {
    display: none;
  }
}
.google-play-phone img {
  width: 24px;
  height: 24px;
  @include media(desktop) {
    width: 40px;
    height: 44px;
  }
}
.cookies {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  padding: 16px;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &.active {
    bottom: 30%;
  }
  @include media(desktop) {
    width: 100%;
    border-radius: 12px 12px 0 0;
    &.active {
      bottom: 0px;
    }
  }
}
.cookies p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1c1c1c;
  @include media(desktop) {
    font-size: 20px;
    line-height: 150%;
  }
}
.cookies-text {
  display: flex;
  width: 280px;
  @include media(desktop) {
    width: 680px;
  }
}
.cookies-dec {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 132px;
  height: 44px;
  background-color: #402a86;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  @include media(desktop) {
    width: 232px;
    height: 60px;
    font-size: 20px;
  }
}
.cookies-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 132px;
  height: 44px;
  background-color: #7a8cdc;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;

  @include media(desktop) {
    width: 232px;
    height: 60px;
    font-size: 20px;
  }
}
.cookies-but {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  @include media(desktop) {
    margin-top: 32px;
  }
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  @include media(desktop) {
    width: 50px;
    height: 50px;
  }
}

.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
