.section-how-to-use {
  scroll-margin-top: 100px;
  margin-top: 10px;
  width: 320px;
  @include media(desktop) {
    margin-top: 20px;
    width: 1200px;
  }
}

.how-to-use-hero {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #ffec42;
  text-align: center;
  @include media(desktop) {
    font-size: 64px;
    line-height: 112%;
    margin-bottom: 60px;
  }
}

ol {
  counter-reset: custom-counter;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

ol li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 279px;
  @include media(desktop) {
    width: 658px;
  }
}

ol li::before {
  content: counter(custom-counter);
  counter-increment: custom-counter;
  background-color: #ffec42;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #1c1c1c;
  flex-shrink: 0;
}

.how-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.how-list p {
  font-size: 12px;
  line-height: 1.5;
  @include media(desktop) {
    font-size: 24px;
  }
}

%text-style {
  font-size: 12px;
  line-height: 150%;
  font-family: var(--second-family);
  @include media(desktop) {
    font-size: 24px;
  }
}

.first-span {
  @extend %text-style;
  color: #42f2ff;
}

.sec-span {
  @extend %text-style;
  color: #ff42e6;
}

.third-span {
  @extend %text-style;
  color: #4285f4;
}

.forth-span {
  @extend %text-style;
  color: #34a853;
}

.fifth-span {
  @extend %text-style;
  color: #ea4335;
}
