.section-reviews {
  scroll-margin-top: 100px;
  padding: 8px 20px 6px 20px;
  width: 320px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.section-reviews__red-salute {
  display: none;
}

.section-reviews__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #ffec42;
  margin-bottom: 46px;
  text-align: center;
}

.section-reviews__list {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.section-reviews__item {
  width: 280px;
  position: relative;
  overflow: visible;
}

.section-reviews__name-wrap {
  display: flex;
  align-items: center;
  background-color: #b4ccf3;
  width: 100%;
  border-radius: 12px 12px 0 0;
  position: relative;
  overflow: visible;
  padding-bottom: 10px;
}

.section-reviews__picture img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  stroke-width: 5px;
  stroke: #1c1c1c;
  position: absolute;
  top: 5%;
  left: 2%;
  overflow: visible;
}

.section-reviews__name-stars {
  display: flex;
  flex-direction: column;
  padding-left: 72px;
  padding-top: 12px;
  gap: 8px;
}

.section-reviews__name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1c1c1c;
  text-align: center;
}

.section-reviews__stars-wrap {
  display: flex;
}

.section-reviews__star-yellow img {
  width: 22px;
  height: 22px;
}

.section-reviews__item-text {
  background-color: #ffffff;
  border-radius: 0 0 12px 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1c1c1c;
  padding: 20px 20px 37px 20px;
}

.swiper-button-prev,
.swiper-button-next {
  visibility: hidden;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.section-reviews__btn-wrap {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.section-reviews__mobile {
  display: block;
}

.section-reviews__desktop {
  display: none;
}

@media (min-width: 1200px) {
  .section-reviews {
    width: 1200px;
    padding: 40px 100px 100px 100px;
  }
  .section-reviews__red-salute {
    width: 887px;
    height: 887px;
    display: block;
    object-fit: cover;
    position: absolute;
    left: 56.5%;
    top: 33%;
  }
  .section-reviews__mobile {
    display: none !important;
  }
  .section-reviews__title {
    margin-bottom: 135px;
    font-size: 64px;
    text-align: center;
  }

  .section-reviews__desktop {
    display: block;
    padding: 0;
  }
  .section-reviews__btn-wrap {
    display: none;
  }
  .section-reviews__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 115px 26px;
    margin: 0;
  }

  .section-reviews__item:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 50%;
  }

  .section-reviews__item {
    width: 486px !important;
    height: 304px;
  }
  .section-reviews__name-wrap {
    padding-bottom: 20px;
  }
  .section-reviews__picture img {
    width: 120px;
    height: 120px;
    left: -3px;
    top: -60%;
  }
  .section-reviews__name-stars {
    padding-left: 132px;
  }
  .section-reviews__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
  }
  .section-reviews__star-yellow img {
    width: 29px;
    height: 30px;
  }
  .section-reviews__item-text {
    font-size: 20px;
    padding: 20px 80px 34px 20px;
    height: 204px;
  }
}
